/*PACIFICO, LOBSTER 2, ARIAL, HERO ARE THE FONTS*/

@import url(https://fonts.googleapis.com/css?family=Lobster+Two:700,400italic,400|Pacifico);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
@font-face {
    font-family: 'Hero';
    src: url(Hero.otf);
}
* {
    box-sizing: border-box;
    margin: 0;
}
body {
    padding: 0;
    margin: 0;
    background-color: #ffffff;
}
main {
    width: 1024px;
    margin: auto;
    clear: right;
    position: relative;
}
header {
    width: 800px;
    height: 250px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
#myName {
    margin-bottom: 10px;
    text-align: center;
    padding: 10px;
}
#links {
    float: right;
    width: 700px;
    margin-bottom: auto;
    clear: right;
    position: relative;
}
#projects, #projects2,
#exercises {
    margin-right: auto;
    padding: 10px;
    float: left;
}
#projects li, #projects2 li,
#exercises li {
    line-height: 20px;
}

 #projects2 
{
   margin-top: 70px;
}
nav a {
    color: #2f2929;
    font-size: 14px;
    z-index: 1;
    position: relative;
}
footer a,
h1,
h3 {
    font-family: 'Lobster Two', 'Arial', sans-serif;
}
nav a,
ol {
    font-family: 'Hero', sans-serif;
}
h1 {
    color: #d7df21;
    font-size: 70px;
    font-style: italic;
}
h2 {
    font-family: 'Pacifico', 'Arial', sans-serif;
    color: #df6321;
    font-size: 40px;
}
h3 {
    color: #c1f583;
    font-size: 30px;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: circle;
}
ol li {
    color: #2f2929;
    font-size: 16px;
    font-weight: normal;
}
footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: #1b81a0;
    clear: left;
}
footer ul li {
    display: inline;
    padding-left: 1%;
    padding-right: 1%;
}
footer a {
    color: #ffffff;
    font-size: 16px;
}
nav a:hover {
    color: #d7df21;
    transition: all 1s;
}
footer a:hover {
    color: #d7df21;
    transition: all 1s;
}

